* {box-sizing:border-box; -webkit-tap-highlight-color:transparent; -webkit-text-size-adjust:none; -webkit-touch-callout:none;
	-webkit-user-select:inherit; -moz-user-select:inherit; -ms-user-select:inherit; user-select:inherit;}
.selectable, .textbox, .textboxp2, .textmenu, .textbox *, .textboxp2 *, .textmenu *, .selectable *, #text_find, #serverlog, #clientlog, .password, #help, textarea
	{-webkit-user-select:text; -moz-user-select:text; -ms-user-select:text; user-select:text;}
body, .unselectable, .unselectable *, .placeholder
	{-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
body, .password, .normaltext {font-family:Arial; font-size:12px; line-height:16px; color:black; font-weight:normal; font-style:normal; text-decoration:none;}
body {margin:0px; cursor:default; white-space:nowrap; word-wrap:break-word; word-break:break-word;}
.big, #pagetitle, #pagetitle2 {font-size:14px; font-weight:bold; line-height:18px;}
.small {font-size:10px; font-weight:normal; line-height:13px;}
.helptitle {font-size:16px; line-height:18px; font-family:Arial Black,Arial; font-weight:bold;}
.code {font-family:Andale Mono,Monaco,Courier,Courier New; font-size:12px; white-space:pre; margin:0px; padding:0px;}
.hyperlink:hover {text-decoration:underline}

#tipbox, .jupbtns, .juplog, #offlinealert {z-index:10011}
#findbox, #findpanel, .navlist, .topnav1list, .topnav2list {z-index:10009}
#leftmast, .mininavbtns, #touchnav {z-index:10008}
#bar1, #logoarea, #mininav, #topbar {z-index:10007}
#findspace {z-index:10006}
#bar2, #loginbar1, #loginlogobg, #rightnav, #podbar1, #podbar2, #zoompod {z-index:10005}
#help, .podpanel {z-index:10004}
#sidebararea, #tsidebararea, #palette {z-index:10003}
#submast, .zbuttons {z-index:10002}
.floatbox {z-index:10001}
.menuopenspace, .menualistspace, .menualist, .calbox, .ztop {z-index:10000}

#tipbox {max-width:300px; white-space:normal;}

.darkbox   {display:table; border-radius:12px; padding:12px 20px;}
.whitebox, .whitecell, .page {border-radius:12px; padding:4px 0px 12px 0px; background-color:white;}
.whitebox {display:table}
.whitetop {border-radius:12px 12px 0px 0px; padding-top:12px;}
.whitebot {border-radius:0px 0px 12px 12px; padding-bottom:12px;}
.white, .whitetop, .whitebot, .whi:hover, .wlit {background-color:white;}
.redbox   {display:table; border-radius:12px; padding:12px 20px; background-color:hsl(0,100%,50%); color:white;}
#tipbox   {position:fixed; border-radius:10px; padding:4px 8px;}
.alert {padding:4px 12px; border-radius:5px; white-space:normal;}

#bar1, #loginbar1 {position:fixed; top:0px; left:0px; width:100%; height:32px;}
#mininav          {position:fixed; top:0px; left:0px; width:100%; transition:top 0.2s ease;}
	.minibar       {height:30px}
#bar2             {position:fixed; top:32px; left:0px; width:100%; height:28px;}
#logoarea         {position:fixed; top:0px; left:0px; width:70px; height:60px; overflow:hidden;}
	#logo, #touchnavbtn {position:absolute; top:8px; left:12px; width:46px; height:46px;}
	.logotext      {background-color:white; border-radius:99px; overflow:hidden; text-align:center; font-weight:bold; line-height:100%; letter-spacing:-1px;}
	#logobg1       {position:absolute; top:0px; left:0px; width:35px; height:60px;}
	#logobg2       {position:absolute; top:-4px; left:0px; height:70px; width:70px; border-radius:35px;}
#loginlogobg      {position:fixed; top:0px; left:0px; width:204px; height:46px; border-radius:0px 23px 23px 0px; padding:5px 0px 0px 18px;}
#leftmast         {position:fixed; top:0px; left:66px;}  /* left changed by js for teacher mode */
	#toptab1space  {position:absolute; top:6px; left:9px;}
	#toptab2space  {position:absolute; top:35px; left:9px;}
	.toptab1, .toptab1hi, .toptab2, .toptab2hi, .toptabnull
	               {display:inline-block; font-size:14px; line-height:18px; font-weight:bold; padding:2px 7px 2px 11px; border-radius:10px;}
	#leftnav       {position:absolute; top:32px; left:10px;}
#rightnav         {position:fixed; top:32px; right:10px;}
#findbox          {position:fixed; top:6px; right:12px; border-radius:99px; border-width:1px; border-style:solid;}
	#ph_find       {padding:2px 6px; height:20px; width:96px; text-align:center; color:white;}
	#text_find     {position:relative; padding:2px 8px; height:20px; max-width:200px; overflow:hidden; cursor:text; outline:none;}
		.find0      {min-width:96px}
		.find1      {min-width:86px}
	#findsvg       {margin:6px 8px 0px 4px}
	#showclearfind {vertical-align:-4px;}
#findhotspot      {position:fixed; top:0px; right:0px; width:35px; height:32px;}
#findpanel        {position:fixed; top:32px; right:0px; padding:0px 12px 12px 20px; border-bottom-left-radius:12px; text-align:right;}
#findspace        {position:fixed; top:0px; right:0px; height:100%; overflow-y:auto; overflow-x:hidden; padding-bottom:20px;}
#findlist         {border-bottom-left-radius:12px; padding-bottom:12px;}
#foundmultistuds  {display:inline-block; min-width:16px; margin:2px 2px 0px 0px; text-align:center; background-color:white; color:black; border-radius:99px;}
#submast          {position:fixed; top:60px; left:0px; width:100%; height:45px;}
	#pagetitle, #pagetitle2 {position:absolute; top:10px; left:20px;}  /* left changed by js for teacher mode */
	#pagebuttons   {position:absolute; top:10px; right:0px; padding:0px 20px 0px 6px;}
#sidebararea      {position:fixed; left:0px; top:70px;}
	#sidebar       {padding:10px 0px; border-radius:0px 12px 12px 0px; overflow:hidden;}
		.classtab, .classlit, .classsemi  {font-size:14px; line-height:18px; font-weight:bold; padding:5px 16px;}
		.comboicon   {display:inline-block; padding:1px 8px; margin:-1px -8px; border-radius:99px;}
	#classcurvearea {position:absolute; z-index:-1; top:0px; right:-6px; width:20px; height:28px; overflow:hidden;}
		#classcurve  {position:absolute; top:-6px; left:-20px; height:40px; width:40px; border-radius:99px;}
#mainpage         {z-index:0; position:absolute; padding:105px 20px 20px 20px;}  /* padding changed by js; position needed for right/bottom padding */
#offlinealert     {position:fixed; background-color:hsl(60,100%,85%); color:black;}
.offlinealertclosed {right:-280px;}
.offlinealertopen {right:0px;}

.tabarea  {position:relative; display:inline-block; padding-top:3px; height:28px; text-align:center; vertical-align:top;}
	.tab, .tabdim {padding:3px 10px; border-radius:11px;}
	.tabcurvearea {display:inline-block; position:relative; top:-3px; width:30px; height:6px; overflow:hidden;}
		.tabcurve  {position:absolute; top:-34px; left:-5px; height:40px; width:40px; border-radius:20px;}
.navtab, .navtabdim  {padding:3px 10px; border-radius:8px 8px 0px 0px;}
.navlist    {position:absolute; text-align:left; overflow-y:auto; overflow-x:hidden; top:25px; left:0px; padding:12px 0px 12px 0px; border-radius:0px 11px 11px 11px;}
.topnav1list, .topnav2list {position:absolute; text-align:left; overflow-y:auto; overflow-x:hidden; left:1px; padding:6px 0px 12px 0px; border-radius:0px 0px 11px 11px;}
.topnav1list {top:26px}
.topnav2list {top:25px}
.navrow, .navlit, .navdim {padding:2px 10px}
#sidebar .navrow, #sidebar .navlit, #sidebar .navdim {padding:2px 12px 2px 16px}
.menugap  {height:12px}
.classnav {max-width:140px; overflow:hidden; text-overflow:ellipsis;}

#touchnav {position:fixed; right:0px; top:31px; width:42px; height:30px;}
#minileftnav {position:absolute; left:8px;}
#minirightnav {position:absolute; right:0px; padding-right:30px;}
.minitabarea {display:inline-block; padding:4px 0px;}
.minitab {padding:3px 8px; border-radius:11px; margin:0px -2px;}
#minitabright {margin-right:26px}
.landonly {}  /* apply to phone only */
.portonly {display:none}
.alandonly {}  /* apply to tablet or phone */
.aportonly {display:none}
#touchmenulit {position:absolute; top:3px; right:3px; width:24px; height:24px; border-radius:12px; padding:5px;}
#minisubmast, #minisubhelp {position:absolute; top:30px; height:40px; width:100%; padding:6px 6px 0px 6px;}
.mininavblock {display:block !important; padding:10px 0px !important; width:100%; overflow:hidden; margin-top:6px;}
.mininavexpand {display:block; padding:0px; width:100%; overflow:hidden; margin-top:6px; position:relative;}
.mininavwidget {position:absolute; top:0px; right:0px; width:21px; height:30px;}
#minihelp {position:absolute; top:0px; left:0px; width:100%; min-height:100%; background-color:white;}
#minisubhelp {width:100%; background:linear-gradient(to top, hsla(0,0%,100%,0) 0px, hsla(0,0%,100%,1) 10px);}

.btn, .dimbtn, .btntran, .btntranlit {display:inline-block; padding:4px 10px; line-height:16px; text-align:center; height:24px; border-radius:12px;}
.glowbtn {animation: glowbtn 1.5s ease-out infinite}

.btnl, .btnllit, .dimbtnl, .nullbtnl {display:inline-block; padding:2px 10px; border-radius:99px;}

#help {position:fixed; bottom:0px; right:-306px; background-color:white; box-shadow:0px 0px 0px 6px hsla(0,0%,0%,.05); border-radius:12px 0px 0px 0px; overflow:hidden; transition:right .2s ease;}
#helpnav {position:absolute; top:0px; left:0px; width:100%; height:40px; background:linear-gradient(to top, hsla(0,0%,100%,0) 0px, hsla(0,0%,100%,1) 10px)}
#helpcontent {padding:40px 20px 20px 20px}
.helpscreenlink {border-width:0px 0px 1px 0px; border-style:dotted;}
#helpnote {display:none}
.helpcopylink {position:absolute; right:0px;}
.helpcopied {padding:4px 12px; margin:-4px -12px; border-radius:99px; background-color:hsl(60,100%,85%);}
.helplit {padding:4px 12px; margin:-4px -12px; border-radius:99px; animation: helplit 4s linear;}
@keyframes helplit {0%,50% {background-color:hsl(60,100%,85%)} 100% {background-color:hsl(60,100%,100%)}}

.row,.rowhi,.rowlit,.label  {padding-top:2px; padding-bottom:2px;}  /* total 20px */
.rowbot,.labelbot {padding-bottom:2px}
.rowtop,.labeltop {padding-top:2px}
.subwidget {margin-top:-2px}
.baseline {vertical-align:baseline}

/* set class to accordion (no rule, just indicator) or accordionclosed; do not set accordiontrans */
.accordiontrans  {overflow:hidden; transition:height .2s ease;}
.accordionclosed  {overflow:hidden; height:0px; display:none;}

p {margin:8px 0px 0px 0px}
.textbox p, .textboxp2 p, .textmenu p {margin:0px}

.hide       {display:none !important}
.show       {visibility:visible}
.spacer     {visibility:hidden}
.printonly  {display:none}
img         {display:block; border-style:none; image-orientation:from-image;}
svg         {padding:0px}
table       {border-spacing:0px; border-collapse:separate; vertical-align:top;}
tbody       {vertical-align:inherit; border:inherit;}
tr          {vertical-align:inherit; padding:0px; border:inherit;}  /* inherited by td, but specific class like row will override this */
td          {background-color:inherit; padding:inherit; vertical-align:inherit; border:inherit;}
a:link, a:visited {text-decoration:none; cursor:default;}
a:hover, a:active {text-decoration:underline; cursor:default;}
a .rowhi    {color:black}
.nou {text-decoration:none !important}
.centerv    {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}  /* parent must have position!=inline */
.center     {text-align:center}
.right      {text-align:right}
.left       {text-align:left}
.middle     {vertical-align:middle}
.bottom     {vertical-align:bottom}
.wide       {width:100%}
.shrink     {display:table}
.wrap       {white-space:normal}
.nowrap, .hyperlink {white-space:nowrap}
.nobreakword {word-break:normal}
.clip       {overflow:hidden}
.cliptext	{overflow:hidden; text-overflow:ellipsis;}
.pad30      {padding-left:30px}
.pad20      {padding-left:20px}
.pad18      {padding-left:18px}
.pad12      {padding-left:12px}
.pad10      {padding-left:10px}
.pad8       {padding-left:8px}
.pad5       {padding-left:5px}
.pad4       {padding-left:4px}
.padr20     {padding-right:20px}
.padr12     {padding-right:12px}
.padr10     {padding-right:10px}
.padr8      {padding-right:8px}
.padr5      {padding-right:5px}
.padr4      {padding-right:4px}
.m10        {margin-left:10px}
.m10n       {margin-left:-10px}
.m10r       {margin-right:-10px}
.m20        {margin-left:20px}
.rad12      {border-radius:12px}
.shadow, .menuopenbox, .menualist {box-shadow: 0px 2px 4px rgba(0,0,0,0.2);}
.red        {color:hsl(0,100%,50%)}
.redbg      {background-color:hsl(0,100%,50%); color:white;}
.yellow, .lit .red, .rowlit .red {color:hsl(60,100%,50%)}
.bold       {font-weight:bold}
.rel        {position:relative}
textarea, input[type=file] {font-family:Arial; font-size:12px; margin:0px;}
.momentum   {-webkit-overflow-scrolling:touch}

sup         {line-height:10px; font-size:70%; vertical-align:0.5em;}
sub         {line-height:10px; font-size:70%; vertical-align:-0.3em;}
h1          {font-size:115%; font-weight:bold; margin:0px 0px 10px 0px; line-height:inherit;}
sm          {font-size:80%; line-height:inherit; display:inline;}

/* TEXT BOXES */
.textbox, .textboxp2, .textmenu {color:black; overflow:hidden; text-align:left; cursor:text; outline:none;}
/* no placeholder */
.textbox {background-color:white; border-width:1px; border-style:solid; border-radius:4px; padding:0px 5px; margin:1px 0px; display:inline-block;}
	/* !Safari: vertical-align:-6px */
/* placeholder */
.textboxp1 {position:relative; display:inline-block; background-color:white; border-width:1px; border-style:solid; border-radius:4px; margin:1px 0px;}
	/* Edge: vertical-align:-6px; Chrome/Firefox: vertical-align:-4px; */
.textboxp2 {position:relative; display:block; top:0px; left:0px; padding:0px 5px;}
.placeholder {position:absolute; top:0px; left:0px; padding-left:6px;}
/* shape */
.leftbox {border-radius:4px 0px 0px 4px !important; margin-right:-1px;}
.rightbox {border-radius:0px 4px 4px 0px !important}
.middlebox {border-radius:0px !important; margin-right:-1px;}
/* text menu */
.textmenu {position:relative; padding-left:5px; margin-right:17px; overflow:hidden; text-overflow:ellipsis;}
/* password & textarea */
.password {position:relative; display:block; top:0px; left:0px; padding:0px 5px; height:16px; margin:0px; background-color:transparent; border:none; outline:none;}
textarea {padding:0px 5px; line-height:16px; background-color:white; color:black; outline:none; border-width:1px; border-style:solid; border-radius:4px;}
.required {background-color:hsl(60,100%,85%) !important}

/* MENUS */
.menuspace  {position:relative; display:inline-block; margin:1px 0px; white-space:nowrap;}
	/* vertical-align: chrome/firefox=-4px, edge=-6px, safari=0px */
.menuaspace  {position:relative; display:inline-block; margin:1px 0px; vertical-align:-4px;}
.menuclosed, .menuabtn {position:relative; background-color:white; color:black;}
.menuabtndark {position:relative; border-radius:4px; padding:1px;}
.menutriangle {position:absolute; right:0px;}
.menulabel  {padding-left:5px; margin-right:17px; overflow:hidden; text-overflow:ellipsis;}
.menulabel  {display:block; padding-left:5px; margin-right:17px;}
.menulabel2 {display:inline-block; padding-left:5px; margin-right:17px;}
.menuopenspace  {display:none; position:absolute; top:0px;  left:0px;  padding-bottom:20px;}
.menualistspace {display:none; position:absolute; top:20px; padding-bottom:20px; text-align:left;}
.menuopenbox, .menualist {background-color:white; color:black;}
.menurow, .menulit, .menudim, .menuun {padding:2px 5px}
.menudim {color:hsl(0,0%,60%)}
.menuclosed, .menuopenbox, .menuabtn, .menualist {border-width:1px; border-style:solid; border-radius:4px;}
.menulist, .menualist {padding:4px 0px; text-align:left; overflow-y:auto; overflow-x:hidden;}
.menulist {border-style:solid; border-width:1px 0px 0px 0px; -webkit-overflow-scrolling:touch;}
.menurow, .menudim, .menuun {overflow:hidden; text-overflow:ellipsis;}
.menuabtn, .menuabtndark {width:18px; height:18px;}
.menulabel, .menulabel2, .textmenu {height:16px; text-align:left;}

/* CHECKBOX & RADIO */
.widget  {width:18px; height:18px; vertical-align:-6px; padding:0px; margin:1px 5px 1px 0px;}
.widget0 {width:18px; height:18px; vertical-align:-6px; padding:0px; margin:1px 0px 1px 0px;}
.widgetspace {display:inline-block}
.indent {padding-left:23px}

/* POPUP CALENDAR */
.calbox {position:absolute; top:18px; left:0px; padding:0px 8px 4px 8px; border-radius:4px;}
.darkbox .calbox {border-width:1px; border-style:solid;}
.callabel {padding:6px 0px 4px 4px; font-weight:bold;}
.calprev {position:absolute; top:4px; right:29px;}
.calnext {position:absolute; top:4px; right:9px;}
.caldate, .caldim, .caltoday, .callit, .calhead {display:inline-block; text-align:center; padding-top:2px; width:20px; height:20px; border-radius:99px;}

/* APP */
.adddrop  {display:inline-block; width:20px; height:20px; vertical-align:-6px;}
.redbar   {display:inline-block; height:8px; border-radius:4px; background-color:hsl(0,100%,50%);}
.greenbar {display:inline-block; height:8px; border-radius:4px; background-color:hsl(120,100%,40%);}
.bluebar  {display:inline-block; height:8px; border-radius:4px; background-color:hsl(210,100%,60%);}
.graybar  {display:inline-block; height:8px; border-radius:4px; background-color:hsl(0,0%,50%);}
.graphcol  {width:1%; text-align:center; vertical-align:bottom; padding:0px 1px;}
.graphbar  {border-radius:6px 6px 0px 0px}
.graphnum  {position:relative; height:0px; bottom:11px; font-size:9px; line-height:10px; color:white; display:none;}
.graphmarklit {border-radius:0px 0px 6px 6px}
.progspace {height:8px; border-radius:99px; width:80px; display:inline-block;}
.progbar   {height:8px; border-radius:99px;}
.seat, .unseat, .seatphoto, .unseatphoto {position:absolute; border-radius:10px; overflow:hidden;}
.seat, .unseat, .photoname {text-align:center; overflow:hidden; white-space:nowrap;}
.seat, .seatphoto, .unseatphoto {border-width:1px; border-style:solid}
.unseat {border-width:1px; border-style:dashed;}
.seatphoto, .unseatphoto {background-size:contain}
.floatbox {position:absolute; top:110px; right:20px; margin-left:6px;}
.dimopacity, .paperclip {opacity:0.5}
.paperclip:hover, .papercliph {opacity:0.8}
.thumbnaildiv {position:relative; display:inline-block; margin:2px; vertical-align:top;}
.thumbnailx {position:absolute; padding:4px; top:0px; right:0px; width:25px; height:25px; opacity:0.4;}
.filex {padding:2px 4px; margin-left:10px; width:25px; height:21px; opacity:0.4;}
.thumbnailx:hover, .filex:hover {opacity:0.6}
.staroff {opacity:0.2}

/* JUPITER STAFF */
.jupbtns {position:fixed; bottom:0px; right:14px; padding:2px 8px; border-radius:8px 8px 0px 0px;}
.jupbtn, .jupbtnlit {display:inline-block; padding:2px 4px 3px 4px; border-radius:5px;}
.juplog {position:fixed; background-color:black; white-space:pre; overflow:auto; word-wrap:normal; word-break:normal; cursor:text;}
.juplog, .juplog h1, .juplog h2, .juplog h3, .log, .log h1, .log h2, .log h3 {font-size:11px; line-height:13px;}
.juplog h1, .juplog h2, .juplog h3, .log h1, .log h2, .log h3 {display:inline; font-weight:normal; margin:0px;}
#serverlog {left:0px; bottom:0px; padding:10px 20px; color:#999999;}
#clientlog {right:0px; bottom:0px; padding:10px; color:white;}
.juplog h1 {color:white}
.juplog h2, .juplog a {color:hsl(60,100%,50%)}
.juplog h3 {color:#999999}
.juplog p,.log p {margin:6px 0px 0px 0px}
.juplog::selection {background-color:hsl(210,100%,40%)}
.log {background-color:white; white-space:pre; word-wrap:normal; word-break:normal; padding:0px 20px; color:hsl(0,0%,60%);
	-webkit-user-select:text; -moz-user-select:text; -ms-user-select:text; user-select:text;}
.log h1 {color:black}
.log h2 {color:hsl(20,100%,50%)}
.log a {color:hsl(240,100%,50%)}
.dosql {color:hsl(240,80%,70%)}

/* BUSY */
#busy {position:fixed; left:0px; top:35%; width:100%; text-align:center;}
#busymsg1 {min-height:18px}
#busybar {position:relative; display:inline-block; width:140px; height:12px; border-radius:6px; overflow:hidden; margin-top:12px;}
#busydot {position:absolute; top:0px; left:-12px; width:12px; height:12px; border-radius:99px;}
.busyanim {animation: busy 1s cubic-bezier(0.6, 0, 0.4, 1.0) infinite;}
@keyframes busy {from {left:-12px} to {left:140px}}

/* BORDERS */
.bord {border-width:1px; border-style:solid; border-collapse:collapse;}
.topbotline {border-width:1px 0px !important}
.topline {border-width:1px 0px 0px 0px !important}
.botline {border-width:0px 0px 1px 0px !important}
.bluetext {color:#aaaadd}
.bord, .bordcolor {border-color:#aaaadd}
.graybord {border-width:0px; border-style:solid; border-collapse:collapse;}

/* KEYBOARD & MATH */
.keylower {display:block}
.keyupper {display:none}
#keypad svg {display:block; margin:0px auto;}
.mathsvg {width:20px; height:20px; stroke:black; fill:none; stroke-linecap:square;}
.mathkey {font-size:20px; line-height:20px; fill:black !important; stroke:none !important; font-family:Symbola;}
.times {font-family:Times New Roman}

/* STICKERS */
.stickerpicker img {width:39px; height:39px;}
.stickerpicker svg {display:block; opacity:0.3;}
.stickerpicker svg:hover {opacity:0.7;}
.stickerpicker div {border-radius:5px}
.menusticker {width:18px; height:18px; margin:-1px;}

/* PRINT */
.blue {background-color:#f0f0ff}
.circle {border-width:2px; border-style:solid; border-radius:5px; padding:0px 1px; margin:0px -3px;}

@media print {
body, .whitebox {background-color:white !important}
.printonly {display:block}
#mainpage {position:static; padding:0px !important;}
.noprint, #bar1, #bar2, #mininavbar, #logoarea, #submast, #minisubmast, #leftmast, #rightnav, #findbox, #findmenu, #sidebararea, #pagebuttons, #tipbox, .jupbtns, #serverlog, #clientlog, #help, #offlinealert, #helpnote
	{display:none !important}
.rowlit, .lit {color:black !important; background-color:#f0f0ff !important;}
.rowhi:hover, .hi:hover {background-color:white !important}
a:link, a:visited, a:hover, a:active {color:#000000; text-decoration:none}
.page, .printmargin {padding:0in 0.5in}
@page {margin:0.25in}
.colortext {color:#aaaadd !important}
.textbox, .textboxp1, .menuclosed, .menuopenbox, .menuabtn, .menulist, .menualist, .border, .bgborder, textarea, .darkbox .calbox
	{border-color:#aaaadd !important}
.widgetstroke {stroke:#aaaadd !important}
.widgetfill {fill:#aaaadd !important}
.printblue {background-color:#f0f0ff}
.printbord {border-width:1px; border-style:solid; border-collapse:collapse;}
.graybord {border-style:none}
.page, .card {box-shadow:none !important}
.nobreakin {break-inside:avoid; page-break-inside:avoid}
.nobreakafter {break-after:avoid; page-break-after:avoid}
.breakafter {break-after:page; page-break-after:always}
.okbreakafter {break-after:auto; page-break-after:auto}
}

.menu {display:none !important} /*///temp to eliminate state <select class='menu spacer'> */
